{% extends "base.html" %}

{% block title %} HAPPY BIRTHDAY MAKAA {% endblock %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bday.css') }}">
{% endblock %}

{% block body %} 
<div style="height: 100vh; background-image: url('{{ gif_path }}'); background-size: cover; background-position: center center; background-repeat: no-repeat; display: flex; align-items: center; justify-content: center;">
    <div id="birthdayMessage" style="position: relative; font-family: pexico_microregular; color: white; background-color: rgba(0, 0, 0, 0.3); display: inline-block; border: solid 2px white; border-radius: 15px; padding: 5%;">
        
        <span id="404msg"><p style="font-size: 12vh;">Page Not Found</p></span>
        <div class="slide-container" style="position: relative; overflow: hidden; display: inline-block;">
            <span id="currentPart" class="slide" onclick="changeMessage()" style="font-size: 12vh;">404</span>
            <span id="nextPart" class="slide" style="position: absolute; top: 100%; left: 0; transition: transform 0.5s ease; font-size: 12vh;"></span>
        </div>
    </div>
</div>

<script>
    const currentPart = document.getElementById('currentPart');
    const nextPart = document.getElementById('nextPart');
    const messages = ["ERROR", "404"];
    const colors = ["red", "blue", "green", "purple", "pink"]; 
    let messageIndex = 0;
    

    function getRandomColor() {
        return colors[Math.floor(Math.random() * colors.length)];
    }

    function cycleMessage() {
        console.log("Changing message...");
        const newColor = getRandomColor();
        nextPart.style.color = newColor;
        nextPart.textContent = messages[messageIndex];
        currentPart.style.transform = 'translateY(-100%)';
        nextPart.style.transform = 'translateY(0)';

        setTimeout(() => {
            currentPart.textContent = messages[messageIndex];
            currentPart.style.color = newColor;  // Set new color here as well so it remains consistent after change
            currentPart.style.transform = 'translateY(0)';
            nextPart.style.transform = 'translateY(100%)';

            messageIndex = (messageIndex + 1) % messages.length;  // This ensures we cycle through messages
            setTimeout(cycleMessage, 150);
        }, 500);
    }

    setTimeout(cycleMessage, 3000);
</script>


{% endblock %}
