{% extends "base.html" %}

{% block title %} Maka Site {% endblock %}

{% block head %} 
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
<link rel="icon" href="{{ url_for('static', filename='images/Absol.ico') }}" type="image/x-icon">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://use.typekit.net/yli0epv.css">
{% endblock %}

{% block body %} 
<div class="grid-container">
  <div class="grid-item merged-1"><img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo" width="75%" height="75%"></div>
  <div class="grid-item merged-2">
    <div style="display: flex; justify-content: space-around; align-items: center; height: 100%;">
      <a href="{{ url_for('views.about') }}" style="text-decoration: none; color: inherit;">About</a>
      <a href="#" style="text-decoration: none; color: inherit;">Gallery</a>
      <a href="#" style="text-decoration: none; color: inherit;">Blog</a>
      <a href="#" style="text-decoration: none; color: inherit;">Contact</a>
    </div>
  </div>
  <div class="grid-item merged-3">SIDEBAR</div>
  <div class="grid-item merged-4">FIURRR</div>
</div>

{% endblock %}

